
// Start Navbar
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
        a.navbar-brand.heading_font.hvr-wobble-horizontal(href='#') LuckyTurkey
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.active.nav-link.head(href='#') Home 
                li.nav-item
                    a.nav-link.portfo(href='#') Portfolio
                li.nav-item
                    a.nav-link.Menu(href='#') Menu
                li.nav-item
                    a.nav-link.chef(href='#') Our Chefs
                li.nav-item
                    a.nav-link.about_us(href='#') About
                li.nav-item
                    a.nav-link.reserv(href='#') Order Online
                li.nav-item
                    a.nav-link.contact(href='#') Contact
// End Navbar


/////////////////////////////////////////////////////////////

