.All_options
    .dark_option
        i.fas.fa-moon.fa-2x
    .clearfix
    .color_option.text-center
        .color_option_icon           
            i.fas.fa-sliders-h.fa-2x.color_icon_toggle  
        .color_option_content
            p.heading_font    Color Options
                ul.list-unstyled.color_option_ul
                    li
                    li(data-value="#0f91a6")
                    li(data-value="#23bb4c")
                    li(data-value="#a8810a")


        .clearfix          