mixin styleSheet_fun(page_name,css_file_name)
    <!DOCTYPE html>
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no")
            title #{page_name}
            link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="../../css/labs/bootstrap.min.css")
            link(rel="stylesheet" href="../../css/labs/all.min.css")
            link(rel="stylesheet" href="../../css/labs/hover-min.css")


            link(rel="stylesheet" href='../../css/'+css_file_name+'.css')



mixin page-header(page_name)
    .page_header
        hr.left
        p.heading_font #{page_name}
        hr.right