.our-chiefs{
    background-color: $sec-color;
    color: $main-color;
    padding: 30px 0 30px 0;
    margin-bottom: 30px;
    h1{
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
        //border-bottom: 2px solid $main-color;
    }
    hr{
        background-color: $main-color;
        margin-bottom: 50px;

    }
    .chef1,.chef2{
        .paragraph{
            transform: translateY(15%);
            p{
                padding-top: 10px;
                letter-spacing: 1.8px;
                line-height: 28px;
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
        .image{
            img{
                height: 300px;
                width:100%;
                margin: 15px 0 15px 0;
            }
        }
    }
}

@media(max-width:767px){
    .our-chiefs h1{
        font-size: 20px;
    }
    .chef1,.chef2 .paragraph p{font-size: 12px; font-weight: normal;}
        
}