.about#about_us
    // start about content
    .container-fluid
        h1.heading_font Our Story
        h2.heading_font   It all began in 1947 with one man and a dream.
        
        .info.lead
            p.paragh_font.lead
                | I&apos;m a paragraph. Click here to add your own text and edit me. It&rsquo;s easy.
                | Just click &ldquo;Edit Text&rdquo; or double click me to add your own content and make
                | changes to the font. I&rsquo;m a great place for you to tell a story and let your users
                | know a little more about you.
    .clearfix
.clearfix    
// end about content

.clearfix    
// end about content