
////////////////////////////////////////////////////

// start header style

.header{
    background-image: url(../../images/home-page/header.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    position: relative;
    background-attachment: fixed;
}

// end header style

////////////////////////////////////////////////////

