.our-chiefs#chef
    .container
        h1.heading_font Our chiefs
        hr
        // cheif 1
        .row.chef1
            .col-lg-6.col-md-12.col-xs-12.paragraph
                h2.heading_font  Alex G.&ZeroWidthSpace; - HEAD CHEF
                p.lead.paragh_font
                    | I&apos;m a paragraph. Click here to add your own text and edit me. I&rsquo;m a great place for you to tell a story and let your users know a little more about you.&ZeroWidthSpace;
                    | This is a great space to write long text about your company and your services.
            .col-lg-6.col-md-12.col-xs-12.image
                img(src='../../images/home-page/chief1.jpeg')
            hr
            br
            br
            br    
            // cheif 2
        .row.chef2
            .col-lg-6.col-md-12.col-xs-12.image
                img(src='../../images/home-page/chief2.jpeg')
            .col-lg-6.col-md-12.col-xs-12.paragraph
                h2.heading_font  Ahlam G.&ZeroWidthSpace; - HEAD CHEF
                p.lead.paragh_font
                    | I&apos;m a paragraph. Click here to add your own text and edit me.
                    | This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide.
