
// start styesheet file 
include ../layout/stylesheet.pug
+styleSheet_fun('lucky Turkey','home_pages_css/home_pages_css')
// end styesheet file 

body
// start header page
include ../navbar/nav.pug
// end header page

//Start Header
.header#head
.clearfix
//End Header


// start about-us page
include About_us/about_us.pug
// end about-us page

// start portfolio page
include portfolio/portfolio.pug
// end portfolio page

// start All_Menu page
include All_Menu/All_Menus.pug
// end All_Menu page

// start our_chiefs page
include our-chiefs\our_chiefs.pug
// end our_chiefs page


// start our_reservation page
include our_reservation/reservation.pug
// end our_reservation page


// start contact_us page
include contact_us/contact_us.pug
// end contact_us page


// start options  page
include ../layout/options.pug
// end options page


// start scripts  page
include ../layout/scripts.pug

// end scripts page

